name: Release

on:
  push:
    branches:
    - main

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  tag:
    name: Tag Release
    runs-on: ubuntu-24.04
    if: github.repository_owner == 'craigsloggett'

    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: Release
      uses: cycjimmy/semantic-release-action@ba330626c4750c19d8299de843f05c7aa5574f62 # v5.0.2
      with:
        semantic_version: 23.0.5
        extra_plugins: |
          @semantic-release/git@10.0.1
          conventional-changelog-conventionalcommits@7.0.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
